<h1 class="text-center mt-5">Dashboard</h1>
<div class="d-flex justify-content-center">
<p class="text-center" *ngIf="!verifDate">Any Operations</p>
<p class="text-center" *ngIf="verifDate">Operations between {{dateStart}} and {{dateEnd}}</p>
<i class="fa fa-cog icon-date" aria-hidden="true" (click)="dateModal = true"></i>
</div>
<div id="pie" *ngIf="response" (click)="chartModal = true" class="d-flex flex-column">
    <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          class="mx-auto">
      </canvas>
      <p class="text-center">click on pie for more details</p>
</div>

<div class="d-flex mt-5 mb-4">
    <button class="btn btn-success ml-auto" (click)="addModal = true">Add operation</button>
</div>

<table class="table">
    <thead>
      <tr class="d-flex border-table-top">
        <th>Value</th>
        <th class="ml-5 mr-5">Date</th>
        <th class="mx-auto">Description</th>
        <th class="ml-auto">Remove</th>
      </tr>
    </thead>
</table>
<div class="max-size-table">
<table class="table">
    <tbody>
        <tr *ngFor="let item of response" scope="row">
          <td scope="col" [style.color]="Color(item.profit)">{{item.profit}}$</td>
          <td scope="col">{{item.date | date}}</td>
          <td scope="col">{{item.description}}</td>
          <td scope="col"><button class="btn btn-danger" (click)="remove(item.id)">X</button></td>
        </tr>
      </tbody>
</table>
</div>

<div id="solde" class="d-flex justify-content-end mt-5 mb-4"><p>solde: </p><p [style.color]="Color(solde)">{{solde}}$</p></div>

<div *ngIf="addModal">
  <div id="add-operation">
    <div class="modal d-flex mx-auto size-add">
        <div class="modal-body m-auto">
          <div class="d-flex row">
            <h1 class="col-11 text-center">Add operation</h1>
            <i (click)="addModal = false" class="fa fa-times-circle-o mx-auto ml-auto" aria-hidden="true"></i>
          </div>
          <div class="d-flex flex-column">
            <form class="d-flex flex-column" [formGroup]="addForm" (ngSubmit)="onSubmitForm()">
              <mat-form-field>
                <input matInput class="mx-auto" type="text" formControlName="description" placeholder="description">
              </mat-form-field>
              <mat-form-field>
                <input matInput class="mx-auto" type="number" formControlName="profit" placeholder="value operation">
              </mat-form-field>
              <mat-form-field>
                <input matInput class="mx-auto" type="text" formControlName="tag" placeholder="tag">
              </mat-form-field>
            <button mat-raised-button class="mt-4 btn btn-success" type="submit" [disabled]="addForm.invalid">Add</button>
            </form>
            <div *ngIf="addForm.get('description').hasError('minlength')">description too short</div>
          </div>
        </div>
    </div>
    <div class="modal-background"></div>
  </div>
</div>

<div *ngIf="chartModal">
  <div id="chartDetail">
    <div class="modal d-flex mx-auto size-detail">
        <div class="modal-body m-auto">
          <div class="d-flex row">
            <h1 class="col-11 text-center">Details:</h1>
            <i (click)="chartModal = false" class="fa fa-times-circle-o mx-auto ml-auto" aria-hidden="true"></i>
          </div>
          <div class="d-flex row">
            <div class="pieDetail col-4">
              <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType">
                </canvas>
            </div>
            <div class="col-6" id="divFinancial">
              <app-chart-detail [dataChart]="chartFinancial"></app-chart-detail>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-background"></div>
  </div>
</div>

<div *ngIf="dateModal">
  <div id="chartDetail">
    <div class="modal d-flex mx-auto size-date">
        <div class="modal-body m-auto">
          <div class="d-flex row">
              <h1 class="col-11 text-center">Details:</h1>
              <i (click)="dateModal = false" class="fa fa-times-circle-o mx-auto ml-auto" aria-hidden="true"></i>
          </div>
          <input type="date" [(ngModel)]="dateStart">
          <input type="date" [(ngModel)]="dateEnd">
          <button class="btn btn-success" (click)="search()">search</button>
        </div>
    </div>
    <div class="modal-background"></div>
  </div>
</div>