.modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
}

.modal input {
    width: 300px
}

.modal button {
    width: 100px;
}

.modal i {
    font-size: 30px
}

.modal .fa-times-circle-o:hover {
    color: red;
}

.modal-body {
    padding: 20px;
    background: #fff;

    /* margin exposes part of the modal background */
    margin: 40px;
}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    
    /* z-index must be below .modal and above everything else  */
    z-index: 900;
}

#operation {
    height: 50px;
    min-width: 40vw !important
}

#operation button {
    height: 30px;
    width: 30px;
}

.table {
    max-width: 60vw;
    
}

.border-table-top {
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

.border-table-top th {
    border: none !important;
}

.max-size-table {
    max-height: 40vh;
    overflow: auto;
}

#pie canvas {
    max-width: 30vw;
}

.size-add {
    max-width: 500px;
}

.size-detail {
    max-width: 90vw;
}

.size-date {
    max-width: 500px;
}

.size-date input{
    width: 150px;
    margin-right: 20px;
}
#divFinancial canvas {
    max-height: 200px;
}

.icon-date {
    font-size: 20px;
    margin-left: 20px;
}