<h1 class="text-center mt-5">Login</h1>

<div class="d-flex flex-column mt-5">
  <form [formGroup]="logForm" (ngSubmit)="onSubmitForm()" class="d-flex flex-column">
  <mat-form-field>
    <input matInput type="text" placeholder="username" formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="password" formControlName="password">
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="logForm.invalid">login</button>
  </form>
</div>