<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BGMP</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="dashboard" routerLinkActive="active" *ngIf="isLogged | async">Dashboard</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!(isLogged | async)">Register</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!(isLogged | async)">Login</a>
      <a class="nav-item nav-link" routerLinkActive="active" (click)="logout()" *ngIf="isLogged | async">Logout</a>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center overflow">
<router-outlet></router-outlet>
</div>