#homeback {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/img-home-gestion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#navigationHome {
    margin-top: 150px;
    width: 40vw;
}

#navigationHome div {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100px;
    width: 200px;
}

#navigationHome div:hover {
    background-color: rgba(4, 0, 255, 0.6);
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 50px !important;
    width: 60%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Merriweather', serif;
}