<h1 class="text-center mt-5">Register</h1>

<div class="d-flex flex-column mt-5">
  <form class="d-flex flex-column" [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field>
      <input matInput class="mt-2" type="text" placeholder="username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput class="mt-2" type="password" placeholder="password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput class="mt-2" type="password" placeholder="confirm password" formControlName="confirmPassword">
    </mat-form-field>
    <button mat-raised-button class="mt-4 btn btn-success" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>

<p class="mt-4 text-center" *ngIf="registerForm.get('password').value === registerForm.get('confirmPassword').value ? false : true ">password and confirm password are different</p>